<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author delete form</title>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<main>
    <form id="delete-form" th:action="@{/author/delete(number=${author.number})}" th:method="post"
          th:object="${author}" action="author-delete.html">
        <p>Вы уверены, что хотите удалить следующего автора?</p>

        <div class="row">
            <label for="id-input">Номер:&nbsp;</label>
            <input class="readonly" id="id-input" type="text" th:field="*{number}" readonly="readonly" value="0">
        </div>
        <div class="row">
            <label for="name-input">Полное имя:&nbsp;</label>
            <input class="readonly" id="name-input" type="text" th:field="*{name}" readonly="readonly" value="Илья Ильф">
        </div>
        <div class="row">
            <label for="description-input">Дата рождения:&nbsp;</label>
            <input class="readonly" id="description-input" type="text" th:field="*{birthDay}" readonly="readonly" value="1897-10-15">
        </div>

        <div class="row">
            <button type="submit" name="delete">Удалить</button>
            <button type="submit" name="cancel">Отмена</button>
        </div>
    </form>
</main>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>