<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of authors</title>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<main>
    <h1 hidden>Список авторов</h1>
    <p th:if="${#lists.isEmpty(authors)}">Список пуст</p>
    <table class="object-list" th:if="${not #lists.isEmpty(authors)}">
        <caption>Список авторов</caption>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Полное имя</th>
            <th colspan="2">Возможные действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}" th:object="${author}">
            <td th:text="*{number}"></td>
            <td th:text="*{name}"></td>
            <td class="row-action"><a th:href="@{/author/edit(number=${author.number})}" href="author-edit.html">Изменить</a></td>
            <td class="row-action"><a th:if="*{couldDelete}" th:href="@{/author/delete(number=${author.number})}" href="author-delete.html">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/author/new}" th:method="get">
        <button>Добавить</button>
    </form>
</main>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>